[
  {rabbit, [
    {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_http]},
    {log_levels, [{connection, debug}, {queue, debug}]},
    {log,
        [{file, [{level, debug}]},
        {categories,
            [{connection,
                [{level, debug}]
            },
            {queue,
                [{level, debug}]
            },
            {console, 
                [{enabled, true},
                 {level, debug}]
            }
            ]
        }]
    }
  ]},
  {rabbitmq_auth_backend_http, [
    {http_method, post},
    {user_path, "http://host.docker.internal:8080/api/user"},
    {resource_path, "http://host.docker.internal:8080/api/resource"},
    {queue_path, "http://host.docker.internal:8080/api/queue"},
    {vhost_path, "http://host.docker.internal:8080/api/vhost"}
  ]},
  {rabbitmq_management, [
    {listener, [
      {port, 15672}
    ]}
  ]}
].